<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Hang Man</title>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

	<link rel="stylesheet" type="text/css" href="../public/css/hangManGame.css">

	<link href="https://fonts.googleapis.com/css?family=Walter+Turncoat" rel="stylesheet">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>



	<header>
		
		<h1>Hangman</h1>


		<!-- Game Won Modal content -->
		<div class="gameWonModal" id="gameWonModal">
			<div class="modal-header">
				<span class="close" id="closeWonModal"><button onclick="reloadGame()">&times;</button></span>
			</div>
			<div class="modal-body">
				<h1>Congratulations! You've Won!</h1>
				<p>You've managed to evade the hangman's noose.</p>
			</div>
			<div class="modal-footer">
				<button class="closeGameWonModal" id="closeGameWonModal" onclick="reloadGame()"><h3>Play Again</h3></button>
			</div>
		</div>

		<!-- Game Lost Modal content -->
		<div class="gameOverModal" id="gameOverModal">
			<div class="modal-header">
				<span class="close" id="closeModal"><button onclick="reloadGame()">&times;</button></span>
			</div>
			<div class="modal-body">
				<h1>Game Over</h1>
				<p>This word was: <strong id="correctWord"></strong></p>
			</div>
			<div class="modal-footer">
				<button class="closeGameOverModal" id="closeGameOverModal" onclick="reloadGame()"><h3>Play Again</h3></button>
			</div>
		</div>
	</header>

	<section>
		<div class="image">
			<img src="../public/img/hangMan1.png" id="hangManImg">
		</div>

		<div class="buttons">
			<ul class="list-1">
				<li><button class="letter" id="A">A</button></li>
				<li><button class="letter" id="B">B</button></li>
				<li><button class="letter" id="C">C</button></li>
				<li><button class="letter" id="D">D</button></li>
				<li><button class="letter" id="E">E</button></li>
				<li><button class="letter" id="F">F</button></li>
				<li><button class="letter" id="G">G</button></li>
				<li><button class="letter" id="H">H</button></li>
				<li><button class="letter" id="I">I</button></li>
				<li><button class="letter" id="J">J</button></li>
				<li><button class="letter" id="K">K</button></li>
				<li><button class="letter" id="L">L</button></li>
				<li><button class="letter" id="M">M</button></li>
				<li><button class="letter" id="N">N</button></li>
				<li><button class="letter" id="O">O</button></li>
				<li><button class="letter" id="P">P</button></li>
				<li><button class="letter" id="Q">Q</button></li>
				<li><button class="letter" id="R">R</button></li>
				<li><button class="letter" id="S">S</button></li>
				<li><button class="letter" id="T">T</button></li>
				<li><button class="letter" id="U">U</button></li>
				<li><button class="letter" id="V">V</button></li>
				<li><button class="letter" id="W">W</button></li>
				<li><button class="letter" id="X">X</button></li>
				<li><button class="letter" id="Y">Y</button></li>
				<li><button class="letter" id="Z">Z</button></li>
			</ul>
		</div>

		<div class="correct-letters">
			<ul class="underscore-ul">
				
			</ul>
		</div>
	</section>

<script src="../public/js/hangManGame.js"></script>
</body>
</html>